		</div>
							
		<nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse">
			<p class="navbar-text navbar-left">Copyright &copy; %globalName% %globalDateOfCreation% - %currentDate%</p>
		</nav>
		
	    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	    <script src="js/bootstrap.min.js"></script>